@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-image: url(../images/magic-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center center;
}

html,
body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: Eczar, sans-serif;
    color: #f5901e;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.title-card {
    padding-top: 60px;
    font-size: 30px;
    text-decoration: underline;
}

section {
    padding: 30px 0px;
}


p,
ol {
    text-align: justify;
    margin: 0 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

.deck-tips {
    text-align: justify;
    margin: 0px 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

.deck-tips > li {
    padding: 6px 0px;
}

ul:not(.helplinks) {
    text-align: justify;
    margin: 0 10%;
}

.helplinks {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
    list-style-type: none;
    margin: 0 10%;
    text-align: center;
}

.helplinks > li {
    padding: 6px 0px;
}


a {
    text-decoration: none;
    color: #f5901e;
}

/* Images */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 25%;
}

.edited {
    text-align: center;
}

.korvold {
    display: inline-block;
    padding: 10px;
}

.rarity {
    padding: 10px 10px;
    margin: auto;
    width: 35%;
}

.rarity-1 {
    padding: 10px 10px;
    margin: auto;
    width: 35%;
}

.white {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(98%) sepia(3%) saturate(467%) hue-rotate(358deg) brightness(103%) contrast(96%);
    vertical-align: bottom;
}

.blue {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(27%) sepia(98%) saturate(777%) hue-rotate(175deg) brightness(102%) contrast(100%);
    vertical-align: bottom;
}

.black {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(324deg) brightness(102%) contrast(101%);
    vertical-align: bottom;
}

.red {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(17%) sepia(83%) saturate(4167%) hue-rotate(348deg) brightness(86%) contrast(90%);
    vertical-align: bottom;
}

.green {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(14%) sepia(90%) saturate(7498%) hue-rotate(162deg) brightness(93%) contrast(101%);
    vertical-align: bottom;
}

.tap {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(98%) sepia(3%) saturate(467%) hue-rotate(358deg) brightness(103%) contrast(96%);
    vertical-align: bottom;
}

/* Menu Bar & Logo */
header {
    width: 100%;
    background-color: #0f0f0f;
    height: 66px;
}

#logo {
    text-decoration: none;
    float: left;
    text-align: center;
    transform: translate(1em, 32%);
}

#logo>a>h1 {
    margin: 0px;
}

#menu-bar {
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    line-height: 3.5;
    margin: 0px 300px;
}

#menu-bar li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0 2em;
}

#menu-bar h3:hover {
    background-color: #ff8800;
    color: #0f0f0f;
}

#logo,
#menu-bar {
    font-family: Eczar, sans-serif;
    color: #ff8800;
    text-align: center;
}


/* Footer */

footer {
    height: auto;
    background-color: #0f0f0f;
    bottom: 0;
    width: 100%;
}

#social-media {
    text-align: center;
    margin: auto;
}

#social-media>li {
    text-decoration: none;
    display: inline;

}

#social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 1%;
    color: #ffffff;
}

#footer-title {
    text-align: center;
}

footer > h3 > a {
    color: #ffffff;
}

/* Horizontal Breaks */

.break1 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #f5901e;
    border-width: 10px 0 0 0;
    border-radius: 20px;
}

.break2 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #f5901e;
    border-width: 0 0 10px 0;
    border-radius: 20px;
}

/* Form styles */

#usrform {
    font-family: Eczar, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 70%;
    margin: 0 auto;
}

.usrform-header {
    text-align: left;
}

.text-in {
    background: transparent;
    color: white;
    width: 100%;
    height: 30px;
    border: 2px solid white;
    border-radius: 7px;
}

.text-in:hover {
    border-color: #f5901e;
}

textarea.text-in {
    height: 60px;
}

.sub-button {
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 100%;
    background-color: #0f0f0f;
    color: #ff8800;
    border-radius: 7px;
}

.sub-button:hover {
    background-color: rgb(249, 250, 244);
    color: rgb(211, 32, 42);
}

/* Thank you page */

.thank-you {
    text-align: center;
    margin: 20% auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

.logo-thank-you {
    font-size: 25px;
}

/* Media queries */

@media screen and (max-width: 1201px) {
    #menu-bar {
        float: left;
        display: grid;
        margin-top: 1.2em;
        background-color: #0f0f0f;
        width: 100%;
        margin-left: 0em;
    }


}

@media screen and (max-width: 800px) {
    #menu-bar {
        float: left;
        display: grid;
        margin-top: 1.2em;
        background-color: #0f0f0f;
        width: 100%;
        margin-left: 0em;
    }

    section > p {
        margin: auto;
    }

    section > ol {
        margin: auto;
    }

    section > ul {
        margin: auto;
    }

    .deck-tips {
        margin: auto;
    }

    img {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    section:not(:first-child) {
        margin: auto;
    }


    img {
        width: 60%;
    }

    .rarity {
        display: inline-block;
        margin-left: 39px;
        width: 30%;
    }

    .rarity-1 {
        display: inline-block;
        width: 50%;
        padding: 0px;
    }
}