@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: white;
    background-image: url(../images/magic-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: black;
}

body section:not(:first-child) {
    margin: 100px;
}

h1,
h2,
h3,
h4 {
    font-family: Eczar, sans-serif;
    color: #f5901e;
    text-align: center;
    /* margin: 0px 300px;
    background-color: rgba(0,0,0,0.5); */
}


p, ol {
    text-align: justify;
    margin: 0px 300px;
    background-color: rgba(0,0,0,0.5);
    padding: 2em;
}

.deck-tips {
    text-align: justify;
    margin: 0px 300px;
    background-color: rgba(0,0,0,0.5);
    padding: 2em;
}

 ul {
    text-align: justify;
    margin: 0px 300px;
 }

 .helplinks {
    background-color: rgba(0,0,0,0.5);
    padding: 2em;
    list-style-type: none;
}


 a {
     text-decoration: none;
     color: #f5901e;
 }

/* Images */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 20%;
}

.edited {
    text-align: center;
}

.korvold {
    display: inline-block;
    padding: 10px;
}

.rarity {
    display: inline-block;
    margin-left: 18em;
}

.white {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(98%) sepia(3%) saturate(467%) hue-rotate(358deg) brightness(103%) contrast(96%);
}

.blue {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(27%) sepia(98%) saturate(777%) hue-rotate(175deg) brightness(102%) contrast(100%);
}

.black {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(338deg) brightness(91%) contrast(109%);
}

.red {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(17%) sepia(83%) saturate(4167%) hue-rotate(348deg) brightness(86%) contrast(90%);
}

.green {
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
    filter: invert(14%) sepia(90%) saturate(7498%) hue-rotate(162deg) brightness(93%) contrast(101%);
}

/* Menu Bar & Logo */
header {
    width: 100%;
    background-color: #0f0f0f;
    height: 66px;
}

#logo {
    text-decoration: none;
    float: left;
    text-align: center;
    transform: translate(1em, 32%);
}

#logo>a>h1 {
    margin: 0px;
}

#menu-bar {
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    line-height: 3.5;
}

#menu-bar li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0 2em;
}

#menu-bar li:hover {
    background-color: #808080;
    color: #ff8800;
}

#logo, #menu-bar {
    font-family: Eczar, sans-serif;
    color: #ff8800;
    text-align: center;
}


/* Footer */

footer {
    height: 160px;
    background-color: #0f0f0f;
    bottom: 0;
    width: 100%;
}

#social-media {
    text-align: center;
    margin: auto;
}

#social-media>li {
    text-decoration: none;
    display: inline;

}

#social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 1%;
    color: #f5901e;
}

#footer-title {
    text-align: center;
}

/* Horizontal Breaks */

.break1 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #f5901e;
    border-width: 10px 0 0 0;
    border-radius: 20px;
}

.break2 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #f5901e;
    border-width: 0 0 10px 0;
    border-radius: 20px;
}

/* Form styles */

#usrform {
    color: red;
    font-family: Eczar, sans-serif;
}

/*Media queries */

@media screen and (max-width: 1090px) {
    #menu-bar {
        float: left;
    display: grid;
    margin-top: 1.2em;
    background-color: #414141;
    width: 100%;
    margin-left: 0em;
    }

    section > p  {
        margin: auto;
    }

    section > ol {
        margin: auto;
    }

    section > ul {
        margin: auto;
    }

    .deck-tips {
        margin: auto;
    }
}