@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: white;
    /* color: #3a3a3a; */
    background-image: url(../images/magic-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: black;
    /* background-color: rgba(124, 124, 124, 0.5); */
}

body section:not(:first-child) {
    margin: 100px;
}

h1,
h2,
h3,
h4 {
    font-family: Eczar, sans-serif;
    color: #000000;
    text-align: center;
}

p {
    text-align: justify;
    margin: 0px 300px;
}

ul,
ol {
    text-align: justify;
    margin: 0px 300px;
}


/* Images */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 20%;
}

.edited {
    text-align: center;
}

.korvold {
    display: inline-block;
    padding: 10px;
}

.rarity {
    display: inline-block;
    margin-left: 18em;
}


/* Menu Bar & Logo */
header {
    width: 100%;
    background-color: #414141;
    height: 66px;
}

#logo {
    text-decoration: none;
    float: left;
    text-align: center;
    color: #d17947;
    transform: translate(1em, 32%);
}

#menu-bar {
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    line-height: 3.5;

}

#menu-bar li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0 2em;
}

#menu-bar ul>li>a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    vertical-align: top;
    font-family: Eczar, sans-serif;
}

/* Footer */

footer {
    height: 150px;
    background-color: #414141;
}

#social-media {
    text-align: center;
}

#social-media>li {
    text-decoration: none;
    display: inline;

}

#social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 1%;
    color: #d17947;
}

#footer-title {
    text-align: center;
}

/* Horizontal Breaks */

.break1 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #d17947;
    border-width: 10px 0 0 0;
    border-radius: 20px;
}

.break2 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #d17947;
    border-width: 0 0 10px 0;
    border-radius: 20px;
}

/* Form styles */

form,
textarea {
    text-align: center;
}

/*Media queries */

@media screen and (max-width: 1200px) {

    ul,
    ol,
    p {
        margin: 0%;
    }

    #menu-bar {
        display: inline-block;
    }

    #logo {
        text-align: justify;
    }
}

@media screen and (max-width: 950px) {

    ul,
    ol,
    p {
        margin: 0%;
    }

    #menu-bar {
        display: inline-block;
    }

    #logo {
        text-align: justify;
    }
}

@media screen and (max-width: 800px) {

    ul,
    ol,
    p {
        margin: 0%;
    }

    #menu-bar {
        display: inline-block;
    }

    #logo {
        text-align: justify;
    }
}

@media screen and (max-width: 425px) {

    ul,
    ol,
    p {
        margin: 10%;
    }

    #menu-bar {
        display: inline-block;
    }

    #logo {
        text-align: justify;
    }
}
